<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
        
        </div>
        <div class="col-sm-6"><br><br>
                <h3 >Investor Registeration</h3><br>
                <div class="alert alert-warning">
                                   
                        <p class="big"><font size="4">
                                An investor is a person that allocates capital with the expectation of a future financial return. 
                           </font> </p>
                       <div class="form-group form-check">
                            </div>
             </div><br>
           
            <h2 class="text-info"></h2>
            <div class="form-group form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" id="verify"> Confirm
                    </label>
                  </div>
        <button class="btn btn-info" (click)="investor_register()">Register</button>
        </div>
        <div class="col-sm-3">
        
        </div>
        </div>
</div>
</body>
</html>
<ngx-spinner></ngx-spinner>