<!-- 
  <div>
   <img src="../assets/hero-bg.jpg" class="img-fluid"> 
  <img class="animated zoomIn " src="../assets/hero-bg.jpg">
  
</div> -->


<div class="view">
    <img    src="https://mdbootstrap.com/img/Photos/Others/architecture.jpg" class="img-fluid" alt="">
    <div class="mask  pattern-1 flex-center">
        <h1><p class="purple-text"><b>WELCOME <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TO <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LOAN SECURITIZATION</b></p></h1>
    </div>
</div>








